.g-1 { gap: 10px; }
.g-2 { gap: 20px; }

.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }

.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }

.mr-1 { margin-right: 1rem; }

.p-1 { padding: 10px;}