$bg-color: #f0f6ed;
$yellow: #FB5;
$text-color: #222;
$orange: #E54;

$font: 'Helvetica','Arial', sans-serif;
$font-monospace: monospace, sans-serif;
$font-title: 'Playfair Display SC', georgia, serif;