@use '../abstracts/variables' as v;

.animais h2 {
    font-family: v.$font-monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    color: v.$orange;

    &::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 10px;
        margin-right: 10px;
        background: v.$yellow;
    }
}

.animais p {
    font-family: v.$font;
    line-height: 1.2;

    margin-bottom: 1rem;
}

.animais__lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;

    &::-webkit-scrollbar {
        width: 18px;
    }

    &::-webkit-scrollbar-thumb {
        background: v.$yellow;
        border-left: 4px solid v.$bg-color;
        border-right: 4px solid v.$bg-color;
    }

    &::-webkit-scrollbar-track {
        background: v.$bg-color;
    }

    @media (max-width: 768px) {
        grid-column: 1;
    }
}

.animais__descricao {
    grid-column: 3;

    section {
        margin-bottom: 3rem;
    }
}