/*
*,
*::after,
*::before {
  box-sizing: border-box;
}
*/
body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.titulo {
  font-family: "PLayfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  grid-column: 1/4;
}

.menu {
  grid-column: 3/5;
  background: #FB5;
}

.menu__link {
  display: block;
  color: #222;
  font-family: monospace, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

/* ====== GRID ====== */
.body {
  background-color: #f0f6ed;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.animais h2 {
  font-family: monospace, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: #E54;
}
.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais__lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.animais__lista::-webkit-scrollbar {
  width: 18px;
}
.animais__lista::-webkit-scrollbar-thumb {
  background: #FB5;
  border-left: 4px solid #f0f6ed;
  border-right: 4px solid #f0f6ed;
}
.animais__lista::-webkit-scrollbar-track {
  background: #f0f6ed;
}

.animais__descricao {
  grid-column: 3;
}
.animais__descricao section {
  margin-bottom: 3rem;
}

.faq__lista {
  grid-column: 2/4;
}
.faq__lista dt {
  font-family: monospace, sans-serif;
  font-weight: bold;
  color: #E54;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.faq__lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #FB5;
}
.faq__lista dd {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.grid {
  display: grid;
}

.grid-section {
  grid-column: 2/4;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  margin-bottom: 4rem;
}

.g-1 {
  gap: 10px;
}

.g-2 {
  gap: 20px;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.p-1 {
  padding: 10px;
}

.flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}
